/* Begin body related files
   ======================== */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(218, 225, 232);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .15);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, .15);
}

.scrollBar-smallWidth {
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 5px !important;
        height: 5px !important;
    }
} 

/* End body related files
   ======================== */