.adm-c-sideBar {
    $sidebarSelf: &;
    position: relative; 

    &__overlay {
        position: fixed;
        @include size(100%);
        left: 0;
        top: 0;
        background: rgba($zblack, 0.4);
        z-index: 90;
        display: none;
    }

    &__container {
        background-color: $white;
        @include box-shadow(0 0px 0px 0 rgba(0, 0, 0, 0));
        border-right: 1px solid $white_sh7;
        width: 260px;
        height: 100%;
        min-height: 100vh;
        z-index: 91;
        position: fixed;
        padding-bottom: 3.75rem;
        will-change: transform;
        backface-visibility: hidden;
        list-style-type: none;
        padding: 0;
        @include transition(all 0.3s ease);
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transition: translate3d(-100%, 0, 0);
        -ms-transition: translate3d(-100%, 0, 0);
        -o-transition: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);

        .close-icon {
            position: absolute;
            right: 10px;
            z-index: 10;
            top: 17px;

            .icon--responsive,
            .icon--expanded,
            .icon--colapsed {
                color: $orange;
                @extend .fs24;
            }

            .icon--colapsed {
                display: none;
            }
        }

        &.icons-only {
            .close-icon {
                .icon--expanded {
                    display: none;
                }

                .icon--colapsed {
                    display: block;
                }
            }
        }
    }

    &__header {
        background: $white_sh1 none repeat scroll 0 0;
        position: relative;
        border-bottom: 1px solid $white_sh7;
        padding: 5px 15px;
        min-height: 150px;
        @extend .adm-u-flexed;
        @extend .adm-u-align-center;
        @extend .adm-u-justify-center;

        &__logo {
            display: inline-block;

            .logo-large {
                height: 120px;
            }

            .logo-small {
                height: 40px;
                display: none;
            }
        }
    }

    &__navigation {
        padding: 10px 15px;

        &.withScroll { 
            overflow: auto;
            @include calc(height, '100% - 150px');
            @extend .scrollBar-smallWidth;
        }
        

        &__list {
            &.section-header {
                color: $black;
                @extend .fs14__medium;
                text-transform: uppercase;
                margin: 18px 0;
            }

            margin: 15px 0;

            &.dropdown {
                #{$sidebarSelf} {
                    &__navigation {
                        &__item {
                            &:before {
                                content: '\f107';
                                position: absolute;
                                right: 0;
                                top: 50%;
                                @include translate(0, -50%);
                                @extend .if-solid;
                                color: $black;
                            }
                        }
                    }
                }

                .sub-dropdown {
                    display: none;

                    &__list {
                        margin: 5px 0;
                    }

                    &__item {
                        padding: 10px 10px 10px 30px;
                        display: block;
                        @extend .adm-u-radius25;
                        @include transition(all 0.3s ease);
                        color: $black;
                        @extend .fs14__medium;
                        position: relative;

                        &:before {
                            content: '';
                            position: absolute;
                            @include size(6px);
                            background-color: $black;
                            left: 15px;
                            @extend .adm-u-radius50;
                            top: 50%;
                            @include translate(0, -50%);
                        }

                        &:hover {
                            background-color: rgba($black, 0.2);
                        }
                    }
                }
            }
        }

        &__item {
            position: relative;
            width: 100%;
            display: block;

            &-icon,
            &-text {
                color: $black;
            }

            &-text {
                @extend .fs16__regular;
                margin-left: 5px;
            }
        }
    }

    &.adm-u-responsiveBar {
        #{$sidebarSelf} {
            &__overlay {
                display: block;
            }
        }
    }

    @include responsive(xs) {
        @include respond-to(md) {
            #{$sidebarSelf} {
                &__container {
                    -webkit-transform: translate3d(0, 0, 0);
                    -moz-transition: translate3d(0, 0, 0);
                    -ms-transition: translate3d(0, 0, 0);
                    -o-transition: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);

                    .close-icon {

                        .icon--responsive {
                            display: none;
                        }
                    }

                    &.icons-only {
                        width: 70px;

                        .logo-large {
                            display: none;
                        }

                        .logo-small {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}